div#container{width:900px;margin:0 auto}
div#wrapper{float:left;width:100%}
div#content{margin-left: 300px}
div#sidebarOne{float:left;width:150px;margin-left:-900px}
div#sidebarTwo{float:left;width:150px;margin-left:-750px}
div#footer{clear:left;width:100%}