/*-----------IE-----------------------------------------------------*/
#navmenubox {
    z-index: 1111;
    border:1px solid red;
    background:green;
}
#navmenu li{
margin: 0 5px 0 5px; border:1px solid red;
}
#navmenu a {
padding:0;
padding-left:5px;
padding-right:auto;
padding-top:3px;
cursor:hand;
display:block;

}
#navmenu span {padding:0;padding-right:7px; display:inline;border: 1px solid red;}

#navmenu li ul li a { width:100%; }

* html #navmenu a { height:1%; width:1%;display:inline;}