#body {
background: #393939;
padding:0;
margin:0;
}
#left_side {
width: 99%;
padding: 0;
margin:0;
}
.side_bar { height: 1px; width: 1px; display: none; }
#main { padding:0; margin:0; padding-right: 40px; }
*html #relatedPosts { height:1%; }
*html .addComment { width: 99%; }
*html .commentForm { width: 99%; }
*html .comment img.flag { position: relative; }
*html .comment .content { height: 100px; }
*html div.post h1, .mceContentBody h1 { margin-left: 0; }
*html .star-rating { margin-left: 0;}
*html .rating p { margin-left: 100px; }

